[Unit]
Description=Demo Spring Boot App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/demo
ExecStart=/usr/bin/java -jar /opt/demo/demo.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
